<!DOCTYPE html>
<html>
<%- include('header'); -%>
<body>
<!--    <h1>My Web Page</h1>-->
    <div>Tinh hinh dich ca nuoc</div>
    <table class="tableTinhHinhDich">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tinh</th>
            <th scope="col">Tong so ca</th>
            <th scope="col">Hom nay</th>
            <th scope="col">Tu vong</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Long An</td>
            <td>32.315</td>
            <td>+132</td>
            <td>410</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Long An</td>
            <td>32.315</td>
            <td>+132</td>
            <td>410</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Long An</td>
            <td>32.315</td>
            <td>+132</td>
            <td>410</td>
        </tr>
        </tbody>
    </table>
</body>
</html>
