<!DOCTYPE html>
<html>
<%- include('header'); -%>
<body >
    <div class="container">
        <div>Tinh hinh dich ca nuoc</div>
        <div class="row">
            <div class="col-6">
                <table class="tableTinhHinhDich table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tinh</th>
                        <th scope="col">Tong so ca</th>
                        <th scope="col">Hom nay</th>
                        <th scope="col">Tu vong</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Long An</td>
                        <td>32.315</td>
                        <td>+132</td>
                        <td>410</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Long An</td>
                        <td>32.315</td>
                        <td>+132</td>
                        <td>410</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Long An</td>
                        <td>32.315</td>
                        <td>+132</td>
                        <td>410</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-6 div-text">
                <div>Coronavirus Cases:</div>
                <div>234,096,280</div>
                <div>Death:</div>
                <div>4,788,745</div>
                <div>Recovered</div>
                <div>210,903,737</div>
            </div>
        </div>
        <!--bang 2-->
        <table class="table table-bordered" >
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Quoc gia</th>
                <th scope="col">Tong so ca</th>
                <th scope="col">So ca bi duong tinh</th>
                <th scope="col">Tong so ca tu vong</th>
                <th scope="col">Tong So ca dieu tri</th>
                <th scope="col">So ca dieu tri</th>
                <th scope="col">Tu vong</th>
                <th scope="col">Tu vong</th>
                <th scope="col">Tu vong</th>
                <th scope="col">Tu vong</th>
                <th scope="col">Tu vong</th>
                <th scope="col">Tu vong</th>
                <th scope="col">Tu vong</th>
                <th scope="col">Tu vong</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>USA</td>
                <td>32.315</td>
                <td>+132</td>
                <td>410</td>
                <td>410</td>
                <td>410</td>
                <td>410</td>
                <td>410</td>
                <td>410</td>
                <td>410</td>
                <td>410</td>
                <td>410</td>
                <td>410</td>
                <td>410</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>USA</td>
                <td>32.315</td>
                <td>+132</td>
                <td>410</td>
                <td>410</td>
                <td>410</td>
                <td>410</td>
                <td>410</td>
                <td>410</td>
                <td>410</td>
                <td>410</td>
                <td>410</td>
                <td>410</td>
                <td>410</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>USA</td>
                <td>32.315</td>
                <td>+132</td>
                <td>410</td>
                <td>410</td>
                <td>410</td>
                <td>410</td>
                <td>410</td>
                <td>410</td>
                <td>410</td>
                <td>410</td>
                <td>410</td>
                <td>410</td>
                <td>410</td>
            </tr>
            </tbody>
        </table>
    </div>
    <%- include('footer'); -%>
</body>
</html>
