<!DOCTYPE html>
<html lang="vi">
<%- include('header'); -%>
<link rel="stylesheet" href="css/page4.css">
<body>
<div class="container">
    <title>Biểu đồ về tình hình covid-19 trên thế giới</title>
    <div id="bieu-do">
        <div id="chart_div" style="width: 1200px; height: 300px;"></div>
        <div id="duoi">
            <span id="so-lieu">
                <table border="1" >
                    <tr>
                        <td>Châu lục</td>
                        <td>Số ca nhiễm</td>
                        <td>Số ca tử vong</td>

                    </tr>
                    <tr>
                        <td>Châu âu</td>
                        <td>2.564.565</td>
                        <td>243.256</td>

                    </tr>
                    <tr>
                        <td>Châu mỹ</td>
                        <td>2.124.562</td>
                        <td>356.401</td>

                    </tr>
                    <tr>
                        <td>Châu Á</td>
                        <td>800.450</td>
                        <td>110.452</td>

                    </tr>
                    <tr>
                        <td>Châu Phi</td>
                        <td>1.564.521</td>
                        <td>152.403</td>

                    </tr>
                    <tr>
                        <td>Châu Đại Dương</td>
                        <td>105.212</td>
                        <td>23.560</td>
                    </tr>
                </table>
                <br/>
            <h4>số liệu thống kê về ca nhiễm và ca tử vọng tại 1 số quốc gia trên thế giới</h4>
            </span>
            <span id="video">
                <iframe width="440px" height="260px" src="https://www.youtube.com/embed/_5xV9Edscok" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br/>
                <h4>Cập nhật tình hình dịch trên thế giới</h4>
            </span>
        </div>
    </div>
</div>

</body>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.setOnLoadCallback(drawAxisTickColors);

    function drawAxisTickColors() {
        var data = google.visualization.arrayToDataTable([
            ['Châu lục', 'Số ca nhiễm','Số ca tử vong', ],
            ['Châu Âu', 2564565, 243256],
            ['Châu Mỹ', 2124562, 356401],
            ['Châu Á', 800450, 110452],
            ['Châu Phi', 1564521, 152403],
            ['Châu Dương', 105212, 23560]
        ]);

        var options = {
            title: 'Biểu đồ về số ca nhiễm và số ca tử vong trên thế giới',
            chartArea: {width: '50%'},

            hAxis: {

                minValue: 0,
                textStyle: {
                    bold: true,
                    fontSize: 12,
                    color: '#4d4d4d'
                },
                titleTextStyle: {
                    bold: true,
                    fontSize: 18,
                    color: '#4d4d4d'
                }
            },
            vAxis: {

                textStyle: {
                    fontSize: 14,
                    bold: true,
                    color: '#848484'
                },
                titleTextStyle: {
                    fontSize: 14,
                    bold: true,
                    color: 'black'
                }
            },
            colors : ['gold','pink']
        };
        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>
</html>