<!DOCTYPE html>
<html lang="vi">
    <%- include('header'); -%>
    <link href="./css/page1.css" type="text/css"  rel="stylesheet">
<body>
    <div class= "rows borderbt content">
        <div class="boxcenter">
            <div class="mg borderbt titleb" > TÌNH HÌNH TRONG NƯỚC</div>

            <div class="rows">
                <div class="boxleft mgbr">
                    <div class="boxnews1">

                        <a href="#"> Ngày 6/10, ghi nhận 4.356 ca mắc COVID-19 trong nước</a>
                        <p>Theo Bộ Y tế, tính từ 17h ngày 5/10 đến 17h ngày 6/10, trên Hệ thống Quốc gia quản lý ca bệnh COVID-19 ghi nhận 4.363 ca nhiễm mới, trong đó 7 ca nhập cảnh và 4.356 ca ghi nhận trong nước (giảm 4 ca so với ngày trước đó) tại 40 tỉnh, thành phố (có 2.223 ca trong cộng đồng).
                            <img src="img/page1/13.jpeg" />
                        </p>
                    </div>
                </div>
                <div class="boxright" style="background-color:#eaffff">
                    <p><center style="color:#004141;font-weight:bold">DIỄN BIẾN DỊCH</center></p>

                    <p><center >THÔNG BÁO VỀ 8.758 CA MẮC MỚI</center></p>
                    <p>Kể từ đầu dịch đến nay Việt Nam có 822.687 ca nhiễm, đứng thứ 43/223 quốc gia và vùng lãnh thổ. Trong khi với tỷ lệ số ca nhiễm/1 triệu dân, Việt Nam đứng thứ 155/223 quốc gia và vùng lãnh thổ (bình quân cứ 1 triệu người có 8.357 ca nhiễm).</p>
                    <p>Đợt dịch thứ 4 (từ ngày 27/4/2021 đến nay): Số ca nhiễm mới ghi nhận trong nước là 818.091 ca, trong đó có 751.907 bệnh nhân đã được công bố khỏi bệnh.</p>
                    <p>Có 11/62 tỉnh, thành phố đã qua 14 ngày không ghi nhận trường hợp nhiễm mới trong nước: Bắc Kạn, Tuyên Quang, Lai Châu, Hòa Bình, Yên Bái, Hà Giang, Thái Nguyên, Điện Biên, Hải Phòng, Thái Bình, Lào Cai.<p>
                </div>
            </div>

            <div class="rows">
                <div class="boxleft mgbr">
                    <div class="rows paddingbt borderbt" style="margin-bottom:10px;">
                        <div class="boxnews1l mgbr">
                            <div class="boxnews2">
                                <img src="img/page1/2.jpeg">
                                <a href="#">Trưa 28/9: Cả nước đã tiêm trên 40,2 triệu liều vaccine COVID-19;</a>
                            </div>
                        </div>
                        <div class="boxnews1l mgbr ">
                            <div class="boxnews2">
                                <img src="img/page1/18.jpeg">
                                <a href="#">Sáng 28/9: Việt Nam tiếp nhận 2,6 triệu liều vaccine COVID-19 từ Chính phủ</a>
                            </div>
                        </div>
                        <div class="boxnews1l " >
                            <div class="boxnews2">
                                <img src="img/page1/8.jpeg">
                                <a href="#">Ngày 27/9: Có 9.362 ca mắc COVID-19 tại TP HCM, Bình Dương và 34 tỉnh</a>
                            </div>
                        </div>

                        <div class="boxright" >
                            <video onPause controls width="100%">
                                <source src="img/1.mp4" type="video/mp4" >

                            </video>
                            <a href="#">Tin Vắn</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="rows footer" align="center">

                <table >
                    <tr><td>BÀI TẬP NHÓM 9</td></tr>
                    <tr><td>NGUYỄN XUÂN KIÊN - B18DCVT226</td></tr>

                </table>
            </div>

        </div>
    </div>
</body>