<!DOCTYPE html>
<html lang="vi">
<%- include('header'); -%>
<link href="./css/page3.css" type="text/css"  rel="stylesheet">
<body>
    <h1>Tình hình thế giới về covid 19</h1>
    <span id="container">
            <span id="anh">
                <h4>Theo thống kê của Reuters, Mỹ ngày 1/10 đã vượt mốc 700.000 ca tử vong liên quan đến Covid-19.</h4>

                <img height="420px" width="730px"  src="https://covid19.qltns.mediacdn.vn/354844073405468672/2021/10/3/my-1633141408859-1633201699434-16332016995621574849632.jpg" alt="">
                <p>Triển lãm “In America: Remember”được đặt ở khu vực công viên National Mall, Mỹ.</p>
            </span>
        </span>
    <span id="tin">
        <span id="b">
            <h4><a href="#"> Nga cho thử nghiệm vaccine covid lần 3</a></h4>
           <img height="190px" width="315px" src="https://covid19.qltns.mediacdn.vn/thumb_w/260/354844073405468672/2021/10/3/avatar1633202159777-16332021599621101473156-0-0-625-1000-crop-1633202176156418433595.jpeg" alt=""><br/><br/>
            <h4><a href="#"> Mỹ viện trợ 8 triệu vaccine cho Philippines</a></h4>
           <img height="205px" width="315px" src="https://covid19.qltns.mediacdn.vn/thumb_w/260/354844073405468672/2021/10/3/ttxvn-my-vien-tro-vaccine-16332024367631511778989-23-0-410-620-crop-1633202439883409436442.jpg" alt="">

        </span>
    </span>
</body>
</html>