@charset "utf-8";
.rows{
    float:left;
    width:100%;
    line-height:130%;
}
/*header*/
.header{
    background-color:#2e3192;
    min-height:150px;
}
.headerlogo{
    float: left;
    width: 120px;
    height:120px;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.headertitle{
    float: left;
    margin-left: 10px;
    margin-top: 115px;
    font-size: 30pt;
    color: #fff;
}
nav{
    height: 35px;
    background: #2e3192;
    margin-bottom: 10px;
    float:left;
}
nav .menu ul{
    list-style: none;
}
nav .menu ul li{
    float: left;
    line-height: 35px;
    padding: 0 5px;

}
nav .menu ul li a{
    color: white;
    font-size: 16pt;
    text-decoration: none;
}
/*content*/
.content{
    background-color:#FFF;
}
.boxcenter{
    width:86%;
    margin:0 auto;
}
.mg{
    margin: 10px 0px;

}
.borderbt{
    border-bottom: 1px #CCCCCC solid;
}
.marginbt{
    margin-bottom: 2%;
}
.titleb{
    color:#2e3192;
    font-size:24px;
    font-weight:bold;
    font:Arial, Helvetica, sans-serif;
    padding-top:20px;
}
.boxleft{
    float:left;
    width:70%;
}
.boxright{
    float:left;
    width:28%;
}
.mgbr{
    margin-right:2%;
}
.boxnews1 img{
    width:100%;
}
.boxnews1 a{
    text-decoration:none;
    font-size:21pt;
    font-weight:bold;
    color:#000;
    font:"MS Serif", "New York", serif;
    line-height:130%;
}
.boxnews1 p{
    padding-bottom:25px;
}
.boxnews1l{
    width:32%;
    float:left;
}
.typebn2{
    margin-bottom:10px;
    margin:10px auto;
    padding-bottom:20px;
}
.boxnews2 img{
    width:100%;
}
.boxnews2 a{
    text-decoration:none;
    font-size:18pt;
    font-weight:bold;
    color:#000;
    line-height:130%;
}

.paddingbt{
    padding-bottom:10px;
}

/*footer*/
.footer{
    background-color:#2e3192;
    min-height:100px;
}
.footer table{
    text-align:center;
    color:#FFF;
}





