
/*header -- */
.nameBTL{
    color: white;
    padding: 30px;
    font-family: var(--bs-font-sans-serif);
    background:blue ;
    font-size: 30px;
}
.toolBar{
    background: #dcdcec;
    color: white;
}
.tableTinhHinhDich {
    top: 80px;
    right: 0;
    width: 500px;
    border: 3px solid #E5E5E5;
}
.table-2 {
    top: 80px;
    right: 0;
    border: 3px solid #E5E5E5;
}
.body-1{
    padding: 50px;
}
.div-text{
    text-align: center;
}

h1 {
    font-family: roboto condensed,sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #555;
    margin: 0;
}
.number-home {
    font-family: noto sans,sans-serif;
    font-size: 40px;
    text-align:center;
}
.ass{
    text-align:center;
    border: 3px solid beige;
    padding: 10px;
    border-radius:10px;
}
.text-size{
    font-size: 30px;
}
